/* body {
    background-color: pink;
} */

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    font-size: 2rem;
    color: #fe424d;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info {
    height: 7rem;
    background-color: rgb(178, 176, 176);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap: wrap;
}

.f-info-socials {
    width: 100%;
    font-size: 1.2rem;
}

.f-info-socials i{
    margin-right: 1rem;
}

.f-info-links{
    width: 100%;
}

.f-info-links a{
    color: #222222;
    text-decoration: none;
    width: 100%;
}

.f-info-links a:hover{
    text-decoration: underline;
}

/* Card */
.listing-card {
    border: none !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-index:hover {
    opacity: 0.8 !important;
}

/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}